.note-container {
  /* Shadow around box */
  -webkit-box-shadow: 0px 8px 24px -6px rgba(138, 138, 138, 0.7);
  -moz-box-shadow: 0px 8px 24px -6px rgba(138, 138, 138, 0.7);
  box-shadow: 0px 8px 24px -6px rgba(138, 138, 138, 0.7);

  padding: 1.5rem 1rem 2rem 1rem;
  width: 20rem;
  min-width: 8rem;
  position: relative;
}

.note-container .note-title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.note-container .note-body {
  font-size: 14px;
  line-height: 1.3rem;
}

.note-container .delete-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
}

.note-container .delete-button .fas {
  font-size: 1rem;
}
